body {
	margin: 5px;
	background-color: #000013;
	background-attachment: fixed;
	background-image: url(../styleImages/backgrounds/pageBg.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
#pageSurround {
	width: 748px;
	margin: 0px auto;
	padding: 5px;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}
#subSurround {
	border: 1px solid #5C84CE;
	background-image: url(../styleImages/backgrounds/contentBg.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
}
#topHeader {
	text-align: right;
	height: 116px;
	margin-bottom: 10px;
	padding-right: 9px;
	padding-top: 0px;
	background-image: url(../styleImages/backgrounds/topHeader.jpg);
	border-bottom: 1px solid #000000;
}
.boxTitleLeft, .boxTitleRight {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 70%;
	color: #09347C;
	background-image: url(../styleImages/backgrounds/boxTitleBg.gif);
	width: 155px;
	height: 15px;
	padding-left: 5px;
	padding-top: 1px;
}
.boxContentLeft, .boxContentRight {
	border-left: 2px solid #0E51A3;
	border-right: 2px solid #0E51A3;
	border-bottom: 2px solid #0E51A3;
	background-color: #FFFFFF;
	padding-left: 5px;
	margin-bottom: 10px;
	padding-top: 3px;
	padding-bottom: 5px;
}
.colLeft {
	position: relative;
	left: 0px;
	width: 160px; 
	padding-left: 9px;
	padding-right: 5px;
	float: left;
}
.colMid {
	position: relative;
	width: 398px;
	float: left;
}
.colRight {
	position: relative;
	width: 160px; 
	padding-left: 5px;
	right: 9px;
	float: right;
}
.boxContent {
	border-top: 1px solid #A8B4B0;
	border-right: 1px solid #5E85CF;
	border-bottom: 1px solid #5E85CF;
	border-left: 1px solid #5E85CF;
	padding: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
	color: #333333;
	background-color: #FFFFFF;
	margin-bottom: 5px;
}
/* CHECKOUT PAGES */
.colLeftCheckout {
	position: relative;
	left: 0px;
	width: 160px; 
	padding-left: 9px;
	padding-right: 10px;
	float: left;
}
.colMainCheckout {
	position: relative;
	width: 558px;
	float: left;
}
/* END CHECK OUT PAGES */
.siteDocs {
	text-align:center;
	margin-top: 10px;
}
.pagination {
	text-align: right;
	padding-top: 5px;
	padding-bottom: 5px;
}
#subCats {
	background-color: #EBEDFE;
	text-align: center;
	border: 1px solid #C9CEFC;
	margin: 0px;
	padding: 3px;
	float: left;
	width: 387px;
}
.subCat {	
	text-align: center;
	padding: 8px;
	float: left;
	width: 110px;
	height: 50px;
}
.regSep{
	padding: 10px 0px 10px 0px;
	margin: 10px 0px 10px 0px;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
}
.latestProds {
	float: left;
	text-align: center;
	width: 131px;
	height: 120px;
}